//?Light Color
$bgLight: #eaeaea;
$textLight: #252a34;
$primaryLight: #ff2e63;
$secondaryLight: #cecece;

//?Dark Color
$bgDark: #252a34;
$textDark: #eaeaea;
$primaryDark: #08d9d6;
$secondaryDark: #2d333f;

[data-mode='light'] {
	color: $textLight;
	background-color: $bgLight;

	.colors {
		color: $primaryLight;
	}

	//?NAV
	.nav {
		color: $textLight;
		background-color: $bgLight;

		&__box {
			background-color: $bgLight;
		}

		&__logo {
			color: $textLight;
		}

		&__menu {
			background-color: $bgLight;
		}

		&__theme {
			color: $textLight;
		}

		&__menu-items {
			color: $textLight;
		}

		&__bars-line {
			background-color: $bgDark;
		}
	}

	//?HEADER
	.header {
		&__btn {
			color: $textDark;
			background-color: $primaryLight;
		}

		&__right {
			background-image: url('../img/oneSmallLight.webp');
		}
	}

	.section__heading {
		&-title {
			color: $primaryLight;
		}

		&-text {
			color: $textLight;
		}
	}

	//?PAGES
	.pages {
		&__card-right-one {
			background-image: url('../img/twoSmallLight.webp');
		}

		&__card-right-two {
			background-image: url('../img/threeSmallLight.webp');
		}

		&__card-right-three {
			background-image: url('../img/fourSmallLight.webp');
		}
	}

	//?PRICE
	.price {
		&__card {
			background-color: $secondaryLight;
		}
	}

	@media (min-width: 576px) {
		.header {
			&__right {
				background-image: url('../img/oneBigLight.webp');
			}
		}
	}

	@media (min-width: 768px) {
		.pages {
			&__card-right-one {
				background-image: url('../img/twoBigLight.webp');
			}

			&__card-right-two {
				background-image: url('../img/threeBigLight.webp');
			}

			&__card-right-three {
				background-image: url('../img/fourBigLight.webp');
			}
		}
	}

	@media (min-width: 992px) {
		//?LightColor
		.nav {
			&__menu-items {
				&:hover {
					color: $primaryLight;
				}
			}

			&__dropdown {
				&:hover {
					color: $primaryLight;
				}
			}

			&__dropdown-content {
				a {
					&:hover {
						color: $primaryLight;
					}
				}
			}
		}
	}
}

[data-mode='dark'] {
	color: $textDark;
	background-color: $bgDark;

	.colors {
		color: $primaryDark;
	}

	//?NAV
	.nav {
		color: $textDark;
		background-color: $bgDark;

		a{
			color: $textDark;

			&:hover{
				color: $primaryDark;
			}
		}

		&__box {
			background-color: $bgDark;
		}

		&__logo {
			color: $textDark;
		}

		&__theme {
			color: $textDark;
		}

		&__menu {
			background-color: $bgDark;
		}

		&__menu-items {
			color: $textDark;
		}

		&__bars-line {
			background-color: $bgLight;
		}
	}

	//?HEADER
	.header {
		&__btn {
			color: $textLight;
			background-color: $primaryDark;
		}

		&__right {
			background-image: url('../img/oneSmallDark.webp');
		}
	}

	//?PRICE
	.price {
		&__card {
			background-color: $secondaryDark;
		}

		&__btns {
			color: $textLight;
			background-color: $primaryDark;
		}
	}

	//?CONTACT
	.contact {
		&__input {
			color: $textDark;
			border: 3px solid $secondaryDark;
			background-color: $secondaryDark;
		}

		&__msg {
			color: $textDark;
		}

		&__btn {
			color: $textLight;
			background-color: $primaryDark;
		}
	}

	.footer{
		background-color: $secondaryDark;
	}

	.section__heading {
		&-title {
			color: $primaryDark;
		}

		&-text {
			color: $textDark;
		}
	}

	//?PAGES
	.pages {
		&__card-right-one {
			background-image: url('../img/twoSmallDark.webp');
		}

		&__card-right-two {
			background-image: url('../img/threeSmallDark.webp');
		}

		&__card-right-three {
			background-image: url('../img/fourSmallDark.webp');
		}
	}

	.section__heading {
		&__title {
			color: $primaryDark;
		}
	}

	@media (min-width: 576px) {
		.header {
			&__right {
				background-image: url('../img/oneBigDark.webp');
			}
		}

		@media (min-width: 768px) {
			.pages {
				&__card-right-one {
					background-image: url('../img/twoBigDark.webp');
				}

				&__card-right-two {
					background-image: url('../img/threeBigDark.webp');
				}

				&__card-right-three {
					background-image: url('../img/fourBigDark.webp');
				}
			}
		}

		@media (min-width: 992px) {
			.nav {
				//?DarkColor
				&__menu-items {
					&:hover {
						color: $primaryDark;
					}
				}

				&__dropdown {
					&:hover {
						color: $primaryDark;
					}
				}

				&__dropdown-content {
					a {
						&:hover {
							color: $primaryDark;
						}
					}
				}
			}
		}
	}
}
