@use 'colors' as *;
@use 'components' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	color: $textLight;
	background-color: $bgLight;
}

.nav {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;

	&__box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 0.5em 1em;
		max-width: 1200px;
		width: 100%;
		height: 100%;
		font-weight: bold;
	}

	&__logo {
		color: $textLight;
		font-size: 2.4rem;
		text-decoration: none;
	}

	&__menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		padding-top: 2em;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100vh - 60px);
		translate: 0 -120%;
		z-index: -1;
		transition: translate 0.4s ease-out;

		&--active {
			translate: 0;
		}

		&-items {
			text-align: center;
			list-style: none;
			text-decoration: none;
			color: $textLight;
			cursor: pointer;
		}
	}

	&__theme {
		position: absolute;
		top: 5%;
		left: 50%;
		font-family: 'Roboto', sans-serif;
		width: 50px;
		height: 50px;
		border: none;
		font-size: 2rem;
		font-weight: bold;
		background-color: transparent;
		translate: -50% 0;
		color: $textLight;

		&:focus {
			outline: none;
		}
	}

	&__dropdown {
		position: relative;
		cursor: pointer;
	}

	&__dropdown-content {
		position: absolute;
		left: 50%;
		display: none;
		width: 110%;
		margin-top: 1em;
		cursor: pointer;
		translate: -50% 0;
	}

	&__dropdown-content:nth-child(2) {
		top: 3em;
	}

	&__bars {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		width: 50px;
		height: 50px;

		&--active {
			.nav__bars-line:nth-child(1) {
				rotate: -45deg;
				translate: 0 8px;
			}

			.nav__bars-line:nth-child(2) {
				opacity: 0;
			}

			.nav__bars-line:nth-child(3) {
				rotate: 45deg;
				translate: 0 -8px;
			}
		}

		&-line {
			width: 30px;
			height: 3px;
			border-radius: 10px;
			transition: rotate 0.3s, opacity 0.3s, translate 0.3s 0.2s;
		}
	}
}

//?Header
.header {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 6em;
	padding: 1em;
	z-index: -2;

	&__title {
		font-size: 2.4rem;
	}

	&__text {
		margin-top: 2em;
		font-size: 1.4rem;
	}

	&__btns {
		margin-top: 2.5em;
	}

	&__btn {
		font-family: 'Roboto', sans-serif;
		padding: 0.5em 1em;
		width: 110px;
		height: 30px;
		border: none;
		font-weight: bold;
		border-radius: 10px;

		&:nth-child(2) {
			margin-left: 2em;
		}
	}

	&__right {
		margin: 0 auto;
		margin-top: 4em;
		width: 277px;
		height: 270px;
	}
}

@media(min-width: 576px){
    .nav{
        &__logo{
            font-size: 2.8rem;
        }

        &__theme{
            font-size: 2.4rem;
        }

        &__menu-items, &__dropdown{
            font-size: 2rem;
        }
    }

    .header{
        margin-top: 8em;

        &__title{
            font-size: 2.8rem;
        }

        &__text{
            font-size: 1.6rem;
        }

        &__btns{
            margin-top: 4em;
        }

        &__right{
            margin-top: 6em;
            width: 431px;
            height: 420px;
        }
    }
}

@media (min-width: 768px) {
	.nav {
		&__logo {
			font-size: 3.6rem;
		}

		&__menu {
			flex-direction: row;
			position: static;
			padding-top: 0;
			width: 50%;
			height: 100%;
			translate: 0;
			z-index: 0;
		}

		&__dropdown,
		&__menu-items {
			font-size: 2rem;
		}

		&__dropdown-content {
			margin-left: 0.1em;
		}

		&__theme {
			position: static;
			translate: 0;
		}

		&__bars {
			display: none;
		}
	}

	//?Header
	.header {
		margin-top: 8em;

		&__left {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&__title {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 2rem;
			width: 80%;
		}

		&__btns {
			margin-top: 4em;
		}

		&__btn {
			width: 145px;
			height: 45px;
			font-size: 2rem;
		}

		&__right {
			width: 431px;
			height: 420px;
		}
	}
}

@media (min-width: 992px) {
	.header {
		text-align: left;

		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__left {
			align-items: flex-start;
			width: 50%;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		.wrapper {
			padding: 1em;
		}
	}
}
