@use 'colors' as *;
@use 'components' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	color: $textLight;
	background-color: $bgLight;
}

.nav {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;

	a {
		text-decoration: none;
		color: $textLight;
	}

	&__box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 0.5em 1em;
		max-width: 1200px;
		width: 100%;
		height: 100%;
		font-weight: bold;
	}

	&__logo {
		color: $textLight;
		font-size: 2.4rem;
		text-decoration: none;
	}

	&__menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		padding-top: 2em;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100vh - 60px);
		translate: 0 -100%;
		z-index: -1;
		transition: translate 0.4s ease-out;

		&--active {
			translate: 0;
		}

		&-items {
			text-align: center;
			list-style: none;
			text-decoration: none;
			color: $textLight;
			cursor: pointer;
		}
	}

	&__theme {
		position: absolute;
		top: 5%;
		left: 50%;
		font-family: 'Roboto', sans-serif;
		width: 50px;
		height: 50px;
		border: none;
		font-size: 2rem;
		font-weight: bold;
		background-color: transparent;
		translate: -50% 0;
		color: $textLight;

		&:focus {
			outline: none;
		}
	}

	&__dropdown {
		text-align: center;
		position: relative;
		cursor: pointer;
	}

	&__dropdown-content {
		position: absolute;
		left: 50%;
		display: none;
		cursor: pointer;
		translate: -50% 0;
	}

	&__dropdown-content:nth-child(1) {
		top: 2em;
	}

	&__dropdown-content:nth-child(2) {
		top: 4em;
	}

	&__bars {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		width: 50px;
		height: 50px;

		&--active {
			.nav__bars-line:nth-child(1) {
				rotate: -45deg;
				translate: 0 8px;
			}

			.nav__bars-line:nth-child(2) {
				opacity: 0;
			}

			.nav__bars-line:nth-child(3) {
				rotate: 45deg;
				translate: 0 -8px;
			}
		}

		&-line {
			width: 30px;
			height: 3px;
			border-radius: 10px;
			transition: rotate 0.3s, opacity 0.3s, translate 0.3s 0.2s;
		}
	}
}

//?Header
.header {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 6em;
	padding: 1em;
	z-index: -2;

	&__title {
		font-size: 2.4rem;
	}

	&__text {
		margin-top: 2em;
		font-size: 1.4rem;
	}

	&__btns {
		margin-top: 2.5em;
	}

	&__btn {
		font-family: 'Roboto', sans-serif;
		padding: 0.5em 1em;
		width: 110px;
		height: 30px;
		border: none;
		font-weight: bold;
		border-radius: 10px;
		transition: scale 0.3s;

		&:hover {
			scale: 1.1;
		}

		&:nth-child(2) {
			margin-left: 2em;
		}
	}

	&__right {
		margin: 0 auto;
		margin-top: 4em;
		width: 277px;
		height: 270px;
	}
}

//?Pages
.pages {
	margin-top: 4em;
	padding: 0em 1em;

	&__card {
		font-family: 'Roboto', sans-serif;
		margin-bottom: 4em;
	}

	&__card-title {
		margin-bottom: 2em;
		font-size: 1.8rem;
	}

	&__card-text {
		font-size: 1.4rem;
	}

	&__card-right {
		&-one,
		&-two,
		&-three {
			margin: 4em auto;
		}
	}

	&__card-right-one {
		width: 252px;
		height: 300px;
	}

	&__card-right-two {
		width: 299px;
		height: 213px;
	}

	&__card-right-three {
		width: 273px;
		height: 190px;
	}
}

.price {
	text-align: center;

	&__cards {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		z-index: 0;
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		margin-bottom: 6em;
		padding: 0 1em;
		width: 320px;
		height: 278px;
		border-radius: 10px;
		background-color: $secondaryLight;
		z-index: -2;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		padding: 1em 0.5em;
		font-size: 1.8rem;
	}

	&__text {
		font-size: 1.4rem;
		width: 90%;
	}

	&__btns {
		font-family: 'Roboto', sans-serif;
		position: relative;
		margin-top: 3em;
		width: 140px;
		height: 40px;
		border: none;
		border-radius: 10px;
		color: $textDark;
		background-color: $primaryLight;
		overflow: hidden;
		cursor: pointer;
		z-index: 1;

		&::after {
			height: 100%;
			top: 0;
			left: -10px;
			border-left: 2px solid $primaryLight;
		}

		&:hover::after {
			left: 300px;
		}

		&:hover .price__btn-one {
			left: 150%;
		}

		&:hover .price__btn-two {
			left: 50%;
		}
	}

	&__btn-one,
	&__btn-two {
		position: absolute;
		top: 50%;
		translate: -50% -50%;
		z-index: 1;
	}

	&__btn-one {
		left: 50%;
		transition: left 0.5s;
	}

	&__btn-two {
		left: -50px;
		transition: left 0.5s 0.1s;
	}
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em 0;
	margin-bottom: 4em;

	&__box {
		width: 100%;
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__input {
		margin-bottom: 2em;
		padding: 1em;
		width: 80%;
		height: 40px;
		border-radius: 10px;
		border: 3px solid $secondaryLight;

		&::placeholder {
			font-family: 'Roboto', sans-serif;
		}

		&--bottom {
			width: 80%;
			min-height: 150px;
			max-height: 250px;
			resize: vertical;

			&::placeholder {
				font-size: 1.4rem;
			}
		}
	}

	&__btn {
		font-family: 'Roboto', sans-serif;
		padding: 1em 2em;
		width: 120px;
		border: none;
		color: $textDark;
		border-radius: 10px;
		background-color: $primaryLight;
		transition: scale 0.3s;

		&:hover {
			scale: 1.1;
		}
	}
}

.footer {
	font-family: 'Roboto', sans-serif;
	padding: 2em 1em;
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
	background-color: $secondaryLight;
}

//!=======
//!MEDIA
//!======

@media (min-width: 576px) {
	.nav {
		&__logo {
			font-size: 2.8rem;
		}

		&__theme {
			font-size: 2.4rem;
		}

		&__menu-items,
		&__dropdown {
			font-size: 2rem;
		}
	}

	.header {
		margin-top: 8em;

		&__title {
			font-size: 2.8rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__btns {
			margin-top: 4em;
		}

		&__right {
			margin-top: 6em;
			width: 431px;
			height: 420px;
		}
	}

	.contact {
		&__form {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__box {
			width: 80%;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__logo {
			font-size: 3.6rem;
		}

		&__menu {
			flex-direction: row;
			position: static;
			padding-top: 0;
			width: 50%;
			height: 100%;
			translate: 0;
			z-index: 0;
		}

		&__dropdown,
		&__menu-items {
			font-size: 2rem;
		}

		&__theme {
			position: static;
			translate: 0;
		}

		&__bars {
			display: none;
		}
	}

	//?Header
	.header {
		margin-top: 8em;

		&__left {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&__title {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 2rem;
			width: 80%;
		}

		&__btns {
			margin-top: 4em;
		}

		&__btn {
			width: 145px;
			height: 45px;
			font-size: 2rem;
		}

		&__right {
			width: 431px;
			height: 420px;
		}
	}

	//?Pages
	.pages {
		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__card {
			margin-bottom: 35em;
		}

		&__card:nth-child(2) {
			.pages__card-left {
				order: 2;
			}
		}

		&__card-title {
			font-size: 3rem;
		}

		&__card-text {
			font-size: 2rem;
		}

		&__card {
			width: 500px;
			height: 400px;
		}

		&__card-right {
			&-one,
			&-two,
			&-three {
				margin: 0 auto;
				margin-top: 6em;
			}
		}

		&__card-right-one {
			width: 367px;
			height: 437px;
		}

		&__card-right-two {
			width: 483px;
			height: 344px;
		}

		&__card-right-three {
			width: 405px;
			height: 282px;
		}
	}

	//?Price
	.price {
		&__card {
			padding: 1em 2em;
			width: 368px;
			height: 435px;
		}

		&__title {
			padding: 0;
			margin-bottom: 1.5em;
			font-size: 3rem;
		}

		&__text {
			font-size: 2rem;
			width: 100%;
		}

		&__btns {
			width: 160px;
			height: 40px;
			font-size: 1.6rem;
		}
	}

	.footer {
		font-size: 2.4rem;
	}
}

@media (min-width: 992px) {
	//?Header
	.header {
		text-align: left;

		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__left {
			align-items: flex-start;
			width: 50%;
		}
	}

	//?Pages
	.pages {
		margin-top: 12em;

		&__cards {
			margin-top: 2em;
		}

		&__card {
			display: flex;
			margin-bottom: 12em;
			width: 100%;
		}

		&__card-left {
			width: 50%;
		}

		&__card-right-one,
		&__card-right-two,
		&__card-right-three {
			margin-top: 0;
		}
	}

	//?Price
	.price {
		&__cards {
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 100px;
			margin-bottom: 6em;
		}

		&__card {
			margin-bottom: 0;
		}
	}

	//?Contact
	.contact {
		&__box {
			width: 50%;
		}
	}

	.footer {
		font-size: 2.8rem;
	}
}

@media (min-width: 1200px) {
	.header {
		.wrapper {
			padding: 1em;
		}
	}
}
